# Binary
reddit-to-gmap

# Cache directory
.cache/

# Output directory
out/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Environment variables
.env
.env.local 